<!-- Admin Panel: Panel for admins to manage courses and reviews -->
{% extends "base.html" %}

{% block title %}Admin Panel | CSPB Course Reviews{% endblock %}

{% block content %}

<div>
    <!-- Insert image (admin shield) -->
    <h2>Admin Panel</h2>
    <p>
        Welcome to the admin panel, {{ user.username }}! As an admin, you have the ability to manage courses and 
        oversee the content on the CSPB Course Reviews platform. Use the options below to add new courses or edit existing ones.
    </p>
</div>

<div>
    <!-- Flagged for Review?-->
</div>

<div>
    <h3>Course Management</h3>

    <!-- TODO: Add Buttons for add courses -->
    <a href="{{ url_for('admin_add_course') }}">Add New Course</a><br>

    <!-- TODO: Add table of courses with info and edit button. Add delete course button per mockups? -->
    <a href="{{ url_for('admin_edit_course') }}">Edit</a>
</div>

{% endblock %}