<!-- Admin Edit Course: Page with web form for editing existing courses -->
{% extends "base.html" %}

{% block title %}Admin Edit Course | CSPB Course Reviews{% endblock %}

{% block content %}

<section=description>
    <h2>Edit Course</h2>
    <p>
        Fill out the form below to edit the course details. 
        Please ensure that all required fields are completed accurately before submitting the form.
    </p>
</section>

<section=edit_course_form>
    <!-- TODO: Add Edit Course Form -->
</section>

{% endblock %}