<!-- Admin Edit Course: Page with web form for editing existing courses -->
{% extends "base.html" %}

{% block title %}Admin Edit Course | CSPB Course Reviews{% endblock %}

{% block content %}

<section class="hero-card hero">
    <h2 class="page-title">Edit Course</h2>
    <p>
        Fill out the form below to edit the course details. 
        Please ensure that all required fields are completed accurately before submitting the form.
    </p>
</section>

<section class="card">
    <form
        method="post"
        action="{{ url_for(
            'edit_course',
            username=username,
            course_id=course['course_id']
        ) }}">
        <div class="form-group">
            <label for="course_code">Course Code</label>
            <input
                class="form-control"
                type="text"
                id="course_code"
                name="course_code"
                value="{{ course['course_code'] }}"
                required>
        </div>

        <div class="form-group">
            <label for="course_name">Course Name</label>
            <input
                class="form-control"
                type="text"
                id="course_name"
                name="course_name"
                value="{{ course['course_name'] }}"
                required>
        </div>
        <div class="form-group">
            <label>Credits</label>
            <div class="radio-group">
                {% for credit in range(1, 7) %}
                    <label>
                        <input
                            type="radio"
                            name="credits"
                            value="{{ credit }}"
                            {% if course["credits"] == credit %}
                                checked
                            {% endif %}
                            required>
                        {{ credit }}
                    </label>
                {% endfor %}

            </div>
        </div>

        <div class="form-group">
            <label for="course_type">Course Type</label>
            <select
                class="form-control"
                id="course_type"
                name="course_type"
                required>

                <option
                    value="Core"
                    {% if course["course_type"] == "Core" %}
                        selected
                    {% endif %}>
                    Core
                </option>
                <option
                    value="Elective"
                    {% if course["course_type"] == "Elective" %}
                        selected
                    {% endif %}>
                    Elective
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Course Description</label>
            <textarea
                class="form-control review-box"
                id="description"
                name="description"
                rows="8"
                maxlength="2000"
                required>{{ course["description"] }}</textarea>
        </div>
        <button class="button" type="submit">
            Update Course
        </button>
    </form>
</section>

{% endblock %}