<!-- Admin Add Course: Page with web form for adding new courses -->
{% extends "base.html" %}

{% block title %}Admin Add Course | CSPB Course Reviews{% endblock %}

{% block content %}

<section=description>
    <h2>Add Course</h2>
    <p>
        Fill out the form below to add a new course to the CSPB Course Reviews platform. 
        Please ensure that all required fields are completed accurately before submitting the form.
    </p>
</section>

<section=add_course_form>
    <!-- TODO: Add Add Course Form -->
</section>

{% endblock %}