<!DOCTYPE html>
<html lang="en">

<!-- Base template shared by all pages -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Additional styles for specific pages -->
    {% block styles %}{% endblock %}
    <title>{% block title %}CSPB Course Reviews{% endblock %}</title>
</head>

<body>
    <div class="site_container">
        <header class="site_header">
            <a href="{{ url_for('home') }}" class="logo_link">
                <img src="{{ url_for('static', filename='images/CSPB_horiz_logo.png') }}" 
                    alt="CSPB Course Reviews Logo"
                    class="site_logo">
            </a> 
        
            <nav class="main_nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('browse_courses') }}">Browse</a>
                {% if username %}
                    <a href="{{ url_for('profile', username=username) }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                    <a href="{{ url_for('login') }}">Log In</a>
                {% endif %}
            </nav>
        </header>

        <main class="content">
        <!-- Page content -->
        {% block content %}
        {% endblock %} 
        </main>

        <footer class="site_footer">
            <p>Team Infinity | CSPB 3308 - Software Development</p>
            <a href="{{ url_for('about') }}">About</a>
        </footer>

    </div> 

</body>

</html>