<!-- Course Details: Course page with average ratings and reviews -->
{% extends "base.html" %}

{% block title %}{{ course.name }} | CSPB Course Reviews{% endblock %}

{% block content %}

<div>
    <h2>{{ course.name }}</h2>
    <!-- Add image or course icon -->
    <p>
        This is the details page for the course: "{{ course.name }}".
    </p>
    <!-- Add course description -->
    <p>
        {{ course.description }}
    </p>
</div>

<div>
    <!-- If logged in, write a review button shows -->
</div>  

<div>
    <h3>Average Ratings</h3>
    <!-- TODO: Add average rating display (include icons) -->
    <p>
        Overall Rating: {{ course.average_rating }}<br>
        Difficulty: {{ course.difficulty }}<br>
        Workload: {{ course.time }}
    </p>

</div>

<div>
    <!-- TODO: Add table of recent reviews with ratings, upvote and downvote buttons. 
     Filters? Refer to software specifications for details -->
</div>

{% endblock %}