<!-- Edit Review: Page with web form for editing a review -->
{% extends "base.html" %}

{% block title %}Edit Review | CSPB Course Reviews{% endblock %}

{% block content %}

<section class="hero-card hero">
    <div>
        <h2 class="page-title">Edit Review</h2>
        <h4>
            This is the edit review page for review: {{ review.id }}.
        </h4>
    </div>
</section>

<section>
    <!-- TODO: Add Edit Review Form 
     (use CSS classes: form-group for each div, form-control for each input, form-control review-box for review, button for buttons)-->

</section>

{% endblock %}