<!-- Edit Review: Page with web form for editing a review -->
{% extends "base.html" %}

{% block title %}
Edit Review | CSPB Course Reviews
{% endblock %}

{% block content %}

<section class="hero-card hero">

    <div>
        <h2 class="page_title">Edit Review</h2>
        <p>
            Edit your review for
            <strong>
                {{ review["course_code"] }}:
                {{ review["course_name"] }}
            </strong>.
        </p>
    </div>
</section>

<section class="card">
    <form
        method="post"
        action="{{ url_for(
            'edit_review',
            course_id=review['course_id'],
            review_id=review['review_id']
        ) }}">
        <div class="form-group">
            <label for="rating">Course Rating</label>
            <input
                class="form-control"
                type="number"
                id="rating"
                name="rating"
                min="1"
                max="5"
                value="{{ review['rating'] }}"
                required>
        </div>
        <div class="form-group">
            <label for="difficulty">
                Perceived Course Difficulty
            </label>
            <input
                class="form-control"
                type="number"
                id="difficulty"
                name="difficulty"
                min="1"
                max="5"
                value="{{ review['difficulty'] }}"
                required>
        </div>
        <div class="form-group">
            <label for="workload">
                Time Commitment per Week
            </label>
            <input
                class="form-control"
                type="number"
                id="workload"
                name="workload"
                min="0"
                max="30"
                value="{{ review['workload'] }}"
                required>
        </div>

        <div class="form-group">
            <label for="review_text">
                Review
            </label>
            <textarea
                class="form-control review-box"
                id="review_text"
                name="review_text"
                maxlength="300"
                rows="6"
                required>{{ review["review_text"] }}</textarea>
        </div>
        <div class="form-group">
            <label for="year">Year Taken</label>

            <select
                class="form-control"
                id="year"
                name="year"
                required>
                {% for year in range(current_year, 2014, -1) %}
                    <option
                        value="{{ year }}"
                        {% if review["year"] == year %}
                            selected
                        {% endif %}>
                        {{ year }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="semester">Semester</label>
            <select
                class="form-control"
                id="semester"
                name="semester"
                required>
                <option
                    value="Spring"
                    {% if review["semester"] == "Spring" %}
                        selected
                    {% endif %}>
                    Spring
                </option>
                <option
                    value="Summer"
                    {% if review["semester"] == "Summer" %}
                        selected
                    {% endif %}>
                    Summer
                </option>
                <option
                    value="Fall"
                    {% if review["semester"] == "Fall" %}
                        selected
                    {% endif %}>
                    Fall
                </option>
            </select>
        </div>
        <button class="button" type="submit">
            Update Review
        </button>
        <a
            class="button button_secondary"
            href="{{ url_for(
                'course_details',
                course_id=review['course_id']
            ) }}#review-{{ review['review_id'] }}">
            Cancel
        </a>
    </form>
</section>

{% endblock %}