<!-- Home page: Welcome message and recent reviews -->

{% extends "base.html" %}

{% block title %}Home | CSPB Course Reviews{% endblock %}

{% block content %}

<section class="hero-card hero">
    <div>
        <!-- User View: Display a personalized welcome message if the user is logged in -->
        {% if username %}
            <h1 class="page-title">
            Welcome back, {{ username }}!
            </h1>

            <h3>
                Share your experience and help other students 
                make informed decisions by writing a review for your courses.
            </h3>

            <a href="{{ url_for('browse_courses') }}" class="button">Browse Courses</a>

        <!-- Guest View-->
        {% else %}
            <h1 class="page-title">
            Welcome to the CSPB Course Reviews Platform!<br><br>
            </h1>

            <h3> 
                Log in or create an account to write reviews and access additional features.
            </h3><br><br>

            <a href="{{ url_for('login') }}" class="button">Login</a>
            <a href="{{ url_for('signup') }}" class="button">Sign Up</a>
        
        {% endif %}
    </div>

    <div>
        <img class="hero-image"
            src="{{ url_for('static', filename='images/write_a_review.png') }}" 
            alt="Write a Review">
    </div>

</section>

<section class="card">
    <h2 class="section-title">Recent Reviews</h2>

    <p>Recent reviews will appear here.</p>
    <!-- TODO: Add Recent Reviews Section (list of recent courses and links to each course detail page) -->

</section>

{% endblock %}