<!-- Login: Page with web form for user login -->

{% extends "base.html" %}

{% block title %}Login | CSPB Course Reviews{% endblock %}

{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}

{% block content %}

<section id = "description">
    <h1>Log in</h1>
    <p>
       Please enter your credentials to log in.
    </p>
</section>

<section id = "login_form">
     <div class="login-container">

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form action="{{ url_for('login') }}" method="post">
            <label for="username"><strong>Username:</strong></label>
            <input type="text" id="username" name="username" required>
            

            <label for="password"><strong>Password:</strong></label>
            <input type="password" id="password" name="password" required>

            <button class="button" type="submit">Log In</button>

           <p>Not a member?
            <a href="{{ url_for('signup') }}">Sign Up</a></p> 
        </form>
    </div>
</section>

{% endblock %}