<!-- Profile: Page with user profile information -->
{% extends "base.html" %}

{% block title %}Profile | CSPB Course Reviews{% endblock %}


{%block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<section class="hero-card hero">
    <div>
        <h2>Your Profile</h2>
        <p>
            Welcome to your profile page, {{ username }}! Here you can view and edit your account information.
        </p>
    </div> 

    <img
        class="hero-image"
        src="{{ url_for('static', filename='images/setting.png') }}"
        alt="Settings">

</section>

<section class="card">

    <div class="profile-layout">

        <!-- Left side -->
        <div class="profile-info">
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Password:</strong> **********</p>
            <p>
                <strong>Role:</strong>
                {% if is_admin %}
                    Admin
                {% else %}
                    Normal User
                {% endif %}
            </p>
        </div>

        <!-- Right side -->
        <div class="profile-actions">

            <form action="{{ url_for('update_info') }}" method="get">
                <button class="edit-profile-button" type="submit">
                    Edit Profile
                </button>
            </form>

            {% if is_admin %}
                <form action="{{ url_for('admin', username=username) }}" method="get">
                    <button class="admin-button" type="submit">
                        Admin Panel
                    </button>
                </form>
            {% endif %}

        </div>

    </div>

{% endblock %}