<!-- Profile: Page with user profile information -->
{% extends "base.html" %}

{% block title %}Profile | CSPB Course Reviews{% endblock %}


{%block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<section class="hero-card hero">
    <div>
        <h2>Your Profile</h2>
        <p>
            Welcome to your profile page, {{ username }}! Here you can view and edit your account information.
        </p>
    </div> 
</section>

<section class="card">
    <!-- Profile information. Block out password -->
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Password:</strong> **********</p>
    <p><strong>Role:</strong> 
    {% if is_admin %}
        Admin
    {% else %}
        Normal User
    {% endif %} </p>

    <!-- Edit Profile button -->
    <form action="{{ url_for('update_info') }}" method="get">
        <button class="edit-profile-button" type="submit">
            Edit Profile
        </button>
    </form>
</section>

<section class="admin_panel">
    {% if is_admin %}
        <a class="button"
           href="{{ url_for('admin', username=username) }}">
            Admin Panel
        </a>
    {% endif %}
</section>

{% endblock %}