<!-- Profile: Page with user profile information -->
{% extends "base.html" %}

{% block title %}Profile | CSPB Course Reviews{% endblock %}

{%block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<section class="hero-card hero">

    <div>
        <h2>Your Profile</h2>
        <p>
            Welcome to your profile page, {{ username }}! Here you can view and edit your account information.
        </p>
    </div> 

    <div>
        <img class="hero-image" src="{{ url_for('static', filename='images/setting.png') }}" alt="Profile Settings">
    </div>

</section>

<section class="card">

    <div class="hero">

        <!-- Left side -->
        <div>
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Password:</strong> **********</p>
            <p>
                <strong>Role:</strong>
                {% if is_admin %}
                    Admin
                {% else %}
                    Normal User
                {% endif %}
            </p>
        </div>

        <!-- Right side -->
        <div class="profile-actions">

            {% if is_admin %}
                <a class="button" href="{{ url_for('admin', username=username) }}">Admin Panel</a>
            {% endif %}

            <a class="button button_secondary" href="{{ url_for('update_info') }}">Edit Profile</a>

        </div>

    </div>

</section>

<!-- Reviews -->
<section class="card">

    <h2 class="section_title">Your Recent Reviews</h2>

    <!-- Display each review if reviews exist -->
    {% if reviews %}

        <div class="review-list">

            {% for review in reviews %}

                <article class="review-card profile-review-card" id="review-{{ review['review_id'] }}">

                    <!-- Left column -->
                    <div class="profile-review-main">

                        <div class="review-info"> 
                            <h3>{{ review["course_code"] }}: {{ review["course_name"] }}</h3>
                             <p class="created_at">Reviewed on {{ review["created_at"][:10] }}</p>
                        </div>

                        <!-- Review ratings -->
                         <div class ="review-ratings">

                        <span>Overall Rating: <strong>{{ review["rating"] }} / 5</strong></span>
                        <span>Difficulty: <strong>{{ review["difficulty"] }} / 5</strong></span>
                        <span>Workload: <strong>{{ review["workload"] }} hrs /wk</strong></span>

                        </div>

                        <!-- Written review -->
                        <p class="review-text">{{ review["review_text"] }}</p>

                    </div>

                    <!-- Right column -->
                    <div class="profile-review-side">

                        <span class="review-term">{{ review["semester"] }} {{ review["year"] }}</span>
                        
                        <!-- Action buttons -->
                        <div class="profile-review-buttons">
                        
                            <!-- Jump to specific review on course page -->
                            <a class="button"
                                href="{{ url_for('course_details', course_id=review['course_id']) }}#review-{{review['review_id'] }}">
                                View Course
                            </a>

                            <a class="button button_secondary"
                                href="{{ url_for('edit_review',
                                    course_id=review['course_id'],
                                    review_id=review['review_id'])}}">
                                    Edit Review
                            </a>

                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

    <!-- Else display "no reviews" message -->
    {% else %}
        <p class="secondary_text">
            You have no recent reviews. Browse courses to write your first review!
        </p>

        <a href="{{ url_for('browse_courses') }}" class="button">Browse Courses</a>

    {% endif %}

</section>

{% endblock %}