<!-- Signup: Page for creating a new user account -->
{% extends "base.html" %}

{% block title %}Sign Up | CSPB Course Reviews{% endblock %}

{% block content %}

<section=description>
    <h2>Sign Up</h2>
    <!-- sign up image? -->
    <p>
        Create a new account to access additional features in the CSPB Course Review Platform. <br>
        Already a member? <a href="{{ url_for('login') }}">Log in here</a>.
    </p>
</section>

<section=signup_form>
    <!-- TODO: Add sign up web form -->
</section>

{% endblock %}