<!-- Edit Profile: Page for updating user account information -->
{% extends "base.html" %}

{% block title %}Edit Profile | CSPB Course Reviews{% endblock %}

{% block content %}

<section=description>
    <h2>Edit Profile</h2>
    <p>
        Edit your account information below, {{ user.username }}. 
        You can update your email, password, and other details as needed.
    </p>
</section>

<section=update_form>
    <!-- TODO: Add edit profile form to change pic, username, email, password, apply for admin role? -->
</section>

{% endblock %}